body  {
    cursor: url(../multimedia/img/portada/flecha.png), auto;
}

a {
    cursor: url(../multimedia/img/portada/flecha.png), auto;
}

footer {
    cursor: url(../multimedia/img/portada/flecha.png), auto;
}

