.cuerpo__banner {   /* logo posicionado flex*/
    background-image: url(../multimedia/img/footer_banner/ban.jfif);
    background-size: contain;
    color: black;
    font-family: $letra-tipe-1 ;   
 
ul {
    
    list-style: none;

a {
    font-weight: 600;; 
    color:#000000 !important;
    text-decoration:none;

    li {
        margin: 40px ;

    }
}
}
}

.cuerpo__banner__redes {
    color: $color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

ul {
    
    list-style: none;
li {
    
    margin-left: 40px;
} 
}
}
.footer_cat {
    width: 60px;
    height: 80px;
}