.main__preguntas {
    
    text-align: center;
    color: $color;
    text-transform:uppercase;
h2 , #donaciones {
    
    border: solid $color-fondo;
    border-radius: $border-grosor;

}
}
.accordion-item {
    background-color: $color-preguntas;
    font-weight: 10; 

    
}
#donaciones {
   p {
font-weight: 10; 
}
}