.main__preguntas {
    
    text-align: center;
    color: $color;
    text-transform:uppercase;
h2 {
    
    border: solid $color-fondo;
    border-radius: $border-grosor;

}
}
.cuestionario {
    
    text-align: center;
    color: $color;
    
li {
   
    list-style: none;
    text-decoration: none !important;
a {
    color: $color;


}
}    
}