
@media (min-width: 200px) and (max-width: 700px) {
    iframe {
        width:100%;
      }
    .banner_noticias {
        padding: 20px;


      }
    .consola {
        display: none;
      }
    
      .cuerpo__banner__redes {

       h3 {
        display: none;
      } 
      }
    
    
}
    